<h1>{{title}}</h1>
<u1>
    {% for subforum in subforums %}
    <li><a href={{subforum.1}}>{{subforum.0}}</a></li>
    {% endfor %}
    {% if thread_form %}
    <p>Add thread</p>
    <form action={{add_thread_link}} method="post">
        {% csrf_token %}
        <table>
        {{ thread_form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
     <p>Add forum</p>
    <form action={{add_forum_link}} method="post">
        {% csrf_token %}
        <table>
        {{ forum_form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
</u1>